html {
  background-color: #eeeeee; 
}

body { 
/*  font-family: Times;*/
  color: #000;
  background-color: #ffffff; 
  text-align:left; /* for IE */
  margin-top: 50px; 
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left:  80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 960px;
}

table{ background-color: #ffffff; }

a, a:link, a:visited {
  font-weight: bold;
  color: #696969;
  background:transparent text-decoration: underline;
  cursor:pointer; background-color:underline
}
a:hover {
  color: #8B0000;
  background:inherit;
  text-decoration: underline;
}

img { border: 0; }

/*h1,h2,h3,h4 { font-family: Times}*/

/*p {font-size:16;}*/